body{
    height:98vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(221, 100%, 96%);
    font-size: 18px;
    font-family: Hanken Grotesk;
}

.container{
    display:flex;
    width:60vh;
    height:45vh;
    background-color:white;
    border-radius: 30px;
}

.left{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width:30vh;
    height:45vh;
    border-radius:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.bignum{
    width:100px;
    height:100px;
    padding:20px;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin-top:30px;
}

.right{
    width:30vh;
    height:45vh;
}
h3,p{
    color:hsl(241, 100%, 89%);
}
h2{
    color:white;
    line-height: 0;
}
p{
    font-size:15px;
    width:200px;
    text-align: center;
}


.right{
    width:25vh;
    padding-left:30px;
    display:flex;
    flex-direction: column;
}

.reaction,.memory,.visual,.verbal{
    display:flex;
    margin: 5px;
    border-radius:10px;
}

.reaction{
    background-color: hsl(0, 100%, 93%);
}
.reaction p{
    color: hsl(0, 100%, 67%);
}
.memory{
    background-color: hsl(39, 100%, 93%);
}
.memory p{
    color: hsl(39, 100%, 56%);
}
.verbal{
    background-color: hsl(166, 100%, 93%);
}
.verbal p{
    color: hsl(166, 100%, 37%);
}
.visual{
    background-color: hsl(234, 85%, 93%);
}
.visual p{
    color: hsl(234, 85%, 45%)
}

#name{
    margin-right:50px;
}

button{
    box-sizing:border-box;
    margin: 0 auto;
    width:80%;
    margin-top:40px;
    color:white;
    background-color: hsl(224, 30%, 27%);
    padding:15px;
    border-radius:30px;
    font-weight: bold;;
}

button:hover{
    cursor: pointer;
    background-color: hsl(234, 85%, 45%);
}


@media only screen and (max-width: 600px) {
    
}