body{
    height:98vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(221, 100%, 96%);
    font-size: 18px;
    font-family: Hanken Grotesk;
}

.container{
    display:flex;
    width:60vh;
    height:50vh;
    background-color:white;
    border-radius: 30px;
}

.left{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width:30vh;
    height:50vh;
    border-radius:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.bignum{
    width:100px;
    height:100px;
    padding:20px;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin-top:50px;
}

.right{
    width:30vh;
    height:50vh;
}
h3,p{
    color:hsl(241, 100%, 89%);
}
h2{
    color:white;
    line-height: 0;
}
p{
    font-size:15px;
    width:200px;
    text-align: center;
}


.right{
    padding-left:30px;

}

ul{
    border:1px solid blue;
}
li{
    border:1px solid black;
    margin:20px;
    padding:10px;
    list-style-position: initial;
    
}